.gitignore
vsc-extension-quickstart.md
grammars/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.antlr
testfiles/**